In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../data/llistat.xlsx')
df.head()

,BD - LA JABATA,RONDA SANT PAU,15,Unnamed: 3,BARCELONA,8015,Oro,Bar tradicional
0,BD - INDY BY CABO,CALLE PUJADES,290,NaN,BARCELONA,8005,Oro,Restaurante Menú
1,BD - FONDA LA PALMERA,CALLE JERUSALEM,30,LOCAL 2,BARCELONA,8001,Oro,Restaurante Carta
2,BD - COLLONUT,CALLE FRANCESC MACIA,41,NaN,BADALONA,8912,Oro,Bar tradicional
3,BD - LA MALA,PASEO SALZEREDA,55,ESQ. C/ FRANCESC MORAGAS,SANTA COLOMA DE GRAMENET,8922,Bronce,Bar tradicional
4,BD - RECO D'EN MARGARIT,PASEO CALLAO,15,0,MATARO,8302,Oro,Chiringuito

In [10]:
# get "Bar tradicional" rows
df.iloc[:,7].unique()

array(['Restaurante Menú', 'Restaurante Carta', 'Bar tradicional',
       'Chiringuito', 'Hotel 5*', 'Cervecería',
       'Multiespacio gastronómico', 'Sala de conciertos',
       'Bar de tapas/pinchos', 'Pizzería', 'Cafetería', 'Vermutería',
       'Pub/Bar de copas', 'Restaurante Gastronómico',
       'Frankfurt-Sandwichería', nan, 'Cocktelería', 'Gastronómico',
       'Beach club', 'Restaurante Espectáculo'], dtype=object)